[build]
builder = "nixpacks"

[deploy]
startCommand = "node node_modules/prisma/build/index.js db push --accept-data-loss && npm start"
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
